:root {
  --color: #f9f2f2;
  --color1: #feeae6;
  --color2: #CB00D6;
  --color3: #725654;
  --color4: #2b1c1c;

  --color5: #6D008A;
  --color6: #09CAD6;
  --color7: #431847;
  --color8: #00093E;
  --color9: #000000;
}
