.container {
  background-color: var(--color2);
  width: 100%;
  max-width: 100vw;
  height: 40px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.container__nav {
  margin: 10px;
}

.container__nav > a {
  text-decoration: none;
  color: var(--color);
}

.container__nav--a {
  margin-right: 10px;
}

.section__un {
  background-image: url(../assets/background.jpg);
  width: 100%;
  max-width: 100vw;
  height: 350px;
  background-repeat: no-repeat;
}

.section__un--div {
  display: flex;
}

.section__div2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 50px;
}

.section__div2 > a {
  text-decoration: none;
  color: var(--color);
  line-height: 20px;
}

.section__photo--name {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  margin-top: 20px;
}

.section__un--photo {
  margin-top: 60px;
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.section__name {
  color: var(--color2);
  margin-top: 10px;
}

.main {
  background-color: var(--color);
}

.description {
  display: flex;
  flex-direction: column;
  background-color: var(--color);
}

.description__p {
  line-height: 20px;
  color: var(--color4);
  margin: 10px;
  width: 90%;
}

.description__div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dev--projects,
.dev--freela {
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 25px;
  width: 145px;
  height: 80px;
  background-color: var(--color4);
  border-radius: 8px;
  margin-top: 15px;
  margin-right: 5px;
  padding: 10px;
  color: var(--color1);
}

.icon > a {
  text-decoration: none;
  color: var(--color1);
}

.icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.imgs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
}

.title {
  color: var(--color2);
  text-align: center;
  margin: 20px;
}

#skills {
  background-color: var(--color3);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
  padding: 30px 0;
}

.img > img {
  width: 50px;
  height: 50px;
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color);
  width: 80px;
  height: 80px;
  margin: 10px;
  border-radius: 8px;
}

#diferential {
  background-color: var(--color);
  color: var(--color2);
}

.differentials {
  display: flex;
  align-items: center;
  width: 275px;
  height: 190px;
  border-radius: 8px;
  background-color: var(--color3);
  color: var(--color2);
  margin: 10px auto;
  padding: 10px;
}

.differentials > img {
  border-radius: 8px;
  margin-right: 15px;
  width: 50px;
  height: 50px;
}

#projects {
  margin-top: 30px;
  margin-bottom: 40px;
  padding: 20px 0;
}

.projects {
  display: flex;
  margin: 0 auto;
  width: 90%;
  max-width: 100vw;
  color: var(--color3);
}

.projects > div {
  width: 40%;
  padding: 20px;
  background-color: var(--color1);
  margin-right: 10px;
}

.contacts {
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: center;
  align-items: center;
  background-color: var(--color3);
}

.contacts__img--div > a > img {
  margin: 10px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  opacity: 70%;
}

.projects > div > img {
  width: 50px;
  height: 50px;
}

.contacts__imgs {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 600px) {
  .container__nav--a {
    font-size: 1.25rem;
  }

  .section__un--div {
    display: flex;
    justify-content: space-between;
    font-size: 35px;
  }

  .section__div2 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .section__div2 > a {
    margin: 5px;
    font-size: 1.125rem;
  }

  .description {
    display: flex;
    flex-direction: row;
  }

  .description__p {
    max-width: 60%;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 40px;
  }

  .description__div {
    display: flex;
    flex-direction: column;
  }

  .diferent {
    display: flex;
    margin: 50px auto;
  }
}

@media (min-width: 900px) {
  .container {
    height: 80px;
  }

  .container__nav--a {
    font-size: 1.5625rem;
  }

  .section__un{
    display: flex;
    justify-content: space-evenly;
    background-image: url(../assets/computer-screen-technology-gadget-developer-programming-1165593-pxhere.com.jpg);
    background-repeat: no-repeat;
    width: 100%; 
    max-width: 100vw;
    height: 400px; 
  }

  .section__un--div {
    margin: 20px;
    font-size: 35px;
  }

  .section__div2 {
    margin: 20px;
  }

  .section__div2 > a{
    font-size: 25px;
  }

  .description {
    display: flex;
    justify-content: space-around;
  }

  .description__p {
    font-size: 25px;  
    line-height: 30px;
  }

  .dev--projects, .dev--freela {
    width: 100%;
    height: 125px;
    font-size: 20px;
    line-height: 50px;
  }

  .title {
    font-size: 2.5rem;
  }

  .img{
    width: 120px;
    height: 120px;
  }

  .img > img {
    width: 100px;
    height: 100px;
  }

  .differentials{
    width: 45%;
    height: 320px;
    font-size: 1.5625rem;
    line-height: 2rem;
  }

  .differentials > img {
    width: 100px;
    height: 100px;
  }

  .projects > div{
    width: 45%;
    height: 420px;
    font-size: 1.5625rem;
    margin-top: 60px;
    margin-bottom: 60px;
    line-height: 2rem;
  }

  .projects > div > img {
    width: 100px;
    height: 100px;
  }

  .contacts__img--div > a > img{
    width: 100px; 
    height: 100px;
  }
}
